<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
    <a href="{% url 'home' %}" class="back-home">Back to Home</a>

    <h1>About Us</h1>
        <p>We are a self-made bookstore, we sell you free books for a high price,<br>
            because that's the way it is these days.<br>
            There may be many mistakes in our shop, because we are still students and do not know exactly<br>
            what we are doing and what will come out of it. <br>
            Feel free to use our e-shop :)
        </p>


</body>
</html>