<!DOCTYPE html>
<html lang="en">
<head>
    <title>Book Wraps</title>
</head>
<body>
    <h1>Book Wraps</h1>
    <p>Browse our collection of book wraps.</p>
    <p>Book Wrap ID: {{ book_wrap.id }}</p>


    {% for book_wrap in book_wraps %}
    <div>
        <h3>{{ book_wrap.accessory.name }} - {{ book_wrap.color }}</h3>
        <p>Price: €{{ book_wrap.accessory.price }}</p>

        {% if user.is_authenticated %}
            <form method="POST" action="{% url 'add_to_cart' 'book_wrap' book_wrap.id %}">
                {% csrf_token %}
                <button type="submit">Add to Cart</button>
            </form>
        {% endif %}
    </div>
{% endfor %}


    <a href="{% url 'accessories' %}">Back to Accessories</a>
    <br>
    <a href="{% url 'home' %}">Back to Home</a>
</body>
</html>
