<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
</head>
<body>
    <h1>Contact Us</h1>
        <p>Contact us at:<br>
              CEO & senior developer (major works):<br>
              Tarmo Kõuhkna - tarmokouhkna@icloud.com<br>
              Junior developer (smaller jobs):<br>
              Jaan Karu - ott4004@gmail.com<br>
              Junior developer (design, accounting):<br>
              Merlyn Mey - merlynmey52@gmail.com
        </p>


</body>
</html>