{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Reviews</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
{% include 'store/_navbar.html' %}
    <div class="page-wrapper">
        <div class="container">
            <h1>All Reviews</h1>

            {% if reviews %}
                {% for review in reviews %}
                    <div class="review">
                        <div class="review-heading">
                            <a href="{% url 'book_detail' review.book.id %}" class="book-link custom-review-link">
                                {{ review.book.title }}
                            </a>
                        </div>

                        <div class="review-user">
                            by {{ review.user.username }}
                        </div>

                        <p>Rating: {{ review.rating }}</p>

                        <p>{{ review.review_text }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <p>No reviews available yet.</p>
            {% endif %}

            <div class="back-to-home">
                <a href="{% url 'home' %}">Back to Home</a>
            </div>
        </div>
    </div>
</body>
</html>